
SuperCalculadora/SuperCalculadora/obj/SuperCalculadora.csproj.nuget.dgspec.json
SuperCalculadora/SuperCalculadora/obj/Release/net6.0/SuperCalculadora.GlobalUsings.g.cs
SuperCalculadora/SuperCalculadora/obj/Release/net6.0/SuperCalculadora.GeneratedMSBuildEditorConfig.editorconfig
SuperCalculadora/SuperCalculadora/obj/Release/net6.0/SuperCalculadora.csproj.AssemblyReference.cache
SuperCalculadora/SuperCalculadora/obj/Release/net6.0/SuperCalculadora.assets.cache
SuperCalculadora/SuperCalculadora/obj/Release/net6.0/SuperCalculadora.AssemblyInfoInputs.cache
SuperCalculadora/SuperCalculadora/obj/Release/net6.0/SuperCalculadora.AssemblyInfo.cs
SuperCalculadora/SuperCalculadora/obj/Release/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
SuperCalculadora/SuperCalculadora/obj/project.nuget.cache
SuperCalculadora/SuperCalculadora/obj/project.assets.json
SuperCalculadora/SuperCalculadora/obj/Debug/net6.0/SuperCalculadora.GeneratedMSBuildEditorConfig.editorconfig
SuperCalculadora/SuperCalculadora/obj/Debug/net6.0/SuperCalculadora.assets.cache
SuperCalculadora/SuperCalculadora/.vs/VSWorkspaceState.json
SuperCalculadora/SuperCalculadora/.vs/SuperCalculadora/v17/.wsuo
SuperCalculadora/SuperCalculadora/.vs/SuperCalculadora/FileContentIndex/read.lock
SuperCalculadora/SuperCalculadora/.vs/SuperCalculadora/FileContentIndex/861d2c7d-6619-4868-9984-64357fd8ec37.vsidx
SuperCalculadora/SuperCalculadora/.vs/slnx.sqlite
SuperCalculadora/SuperCalculadora/.vs/ProjectSettings.json
SuperCalculadora/.vs/SuperCalculadora/FileContentIndex/c789ccb7-ae55-4fb8-b199-eeb2fe76fd5e.vsidx
SuperCalculadora/.vs/SuperCalculadora/FileContentIndex/b9f76c6e-cca3-4a61-a317-c2ec46c7214f.vsidx
SuperCalculadora/.vs/SuperCalculadora/FileContentIndex/b8b6184b-da5a-470b-9097-e34b75669206.vsidx
SuperCalculadora/.vs/SuperCalculadora/FileContentIndex/258e58d5-4c5a-41cc-86ce-ef9139fc6ace.vsidx
SuperCalculadora/.vs/SuperCalculadora/FileContentIndex/19abef43-59e2-4070-b482-0b92c92e8709.vsidx
SuperCalculadora/.vs/SuperCalculadora/FileContentIndex/199d7427-1a71-48bc-afeb-4fd04c15e326.vsidx
SuperCalculadora/.vs/SuperCalculadora/FileContentIndex/01035bca-3c88-460e-8fdf-2a2a2b5730e0.vsidx
SuperCalculadora/SuperCalculadora/obj/SuperCalculadora.csproj.nuget.dgspec.json
SuperCalculadora/SuperCalculadora/obj/project.nuget.cache
SuperCalculadora/SuperCalculadora/obj/project.assets.json
SuperCalculadora/SuperCalculadora/obj/Debug/net6.0/SuperCalculadora.GeneratedMSBuildEditorConfig.editorconfig
SuperCalculadora/SuperCalculadora/obj/Debug/net6.0/SuperCalculadora.assets.cache
SuperCalculadora/.vs/SuperCalculadora/FileContentIndex/c789ccb7-ae55-4fb8-b199-eeb2fe76fd5e.vsidx
SuperCalculadora/.vs/SuperCalculadora/FileContentIndex/19abef43-59e2-4070-b482-0b92c92e8709.vsidx
SuperCalculadora/.vs/SuperCalculadora/FileContentIndex/199d7427-1a71-48bc-afeb-4fd04c15e326.vsidx
